@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme
{
--color-background:hsl(var(--background));
--color-foreground:hsl(var(--foreground));
--color-primary:hsl(var(--primary));
--color-card:hsl(var(--card));
--color-cardtext:hsl(var(--cardtext));
--color-detail:hsl(var(--detail));
}

@layer base
{
  :root
  {
    --background:210 40% 98%;
    --foreground: 222 47% 11%;
    --primary : 250 47% 60%;
    --primary-foreground : 210 40% 98%;
    --card: 222 47% 4%;
    --cardtext:213 31% 91%;
    --detail: 0 0% 30%;
  }

  .dark
  {
   --background:222 47% 4%;
   --foreground: 213 31% 91%;
   --primary : 250 65% 65%;
   --primary-foreground : 213 31% 91%;
   --card:210 40% 98%;
   --cardtext:222 47% 11%;
   --detail: 0 0% 70%;
  }

}

body {
            background-color: var(--color-background);
            color: var(--color-foreground);
            /* font-family: "Smooch Sans", sans-serif;
            font-size: 16px;
            font-weight:500; */
            /* font-height: 10px; */

            
        }