@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme
{
--color-background:hsl(var(--background));
--color-foreground:hsl(var(--foreground));
--color-primary:hsl(var(--primary));
--color-card:hsl(var(--card));
--color-cardtext:hsl(var(--cardtext));
--color-detail:hsl(var(--detail));
}

@layer base
{
  :root
  {
    --background:210 40% 98%;
    --foreground: 222 47% 11%;
    --primary : 250 47% 60%;
    --primary-foreground : 210 40% 98%;
    --card: 222 47% 4%;
    --cardtext:213 31% 91%;
    --detail: 0 0% 30%;
  }

  .dark
  {
   --background:222 47% 4%;
   --foreground: 213 31% 91%;
   --primary : 250 65% 65%;
   --primary-foreground : 213 31% 91%;
   --card:210 40% 98%;
   --cardtext:222 47% 11%;
   --detail: 0 0% 70%;
  }

}

body {
            background-color: var(--color-background);
            color: var(--color-foreground);
            /* font-family: "Smooch Sans", sans-serif;
            font-size: 16px;
            font-weight:500; */
            /* font-height: 10px; */

            
        }

  /* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #003d29; /* indigo-500 */
  border-radius: 9999px;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #002217; /* indigo-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #003d29 #d6f8f4;
}


  .appear{
  animation: appear both;
  animation-timeline: view(70%  5%);
  /* animation-range: entry 0 cover 50%; */
}

.appear2{
  animation: appear2 1s ease-out;
  /* animation-timeline: view(); */
  /* animation-range: entry 0 cover 30%; */
}

@keyframes appear {
        from
        {
            scale: 0.6;
            transform: translateY(200px);
           
        }
       
        to
        {
            
             scale: 1;
             transform: translateY(0px);
            
        }
    }

@keyframes appear2 {
        from
        {
            transform: translateY(80px);
           
        }
       
        to
        {
            
             transform: translateY(0px);
            
        }
    }

